<mat-card appearance="raised">
  <mat-card-content>
    <mat-card-header>
      <mat-card-title>Agendamento</mat-card-title>
    </mat-card-header>
  </mat-card-content>
  <mat-card-content>
    <mat-stepper [orientation]="(stepperOrientation | async)!"
                 linear>
      <mat-step [stepControl]="firstFormGroup" label="Dados pessoais">
        <form [formGroup]="firstFormGroup">
          <mat-card appearance="raised">
            <mat-card-content>
              <mat-card-header>
                <mat-card-title>Suas informações pessoais</mat-card-title>
              </mat-card-header>
            </mat-card-content>
            <mat-card-content>
              <mat-card-content>
                <mat-form-field>
                  <mat-label>Nome</mat-label>
                  <input formControlName="name" matInput placeholder="Seu nome completo" required>
                </mat-form-field>
              </mat-card-content>
              <mat-card-content>
                <mat-form-field>
                  <mat-label>E-mail</mat-label>
                  <input formControlName="email" matInput placeholder="Seu melhor e-mail" required type="email">
                </mat-form-field>
              </mat-card-content>
              <mat-card-content>
                <mat-form-field>
                  <mat-label>Celular</mat-label>
                  <input formControlName="phone" matInput placeholder="Seu número de celular" required type="tel">
                </mat-form-field>
              </mat-card-content>
            </mat-card-content>
            <mat-card-content>
              <mat-card-footer>
                <mat-card-actions align="start">
                  <button [disabled]="firstFormGroup.invalid" extended mat-fab matStepperNext>
                    <mat-icon>arrow_forward</mat-icon>
                    Próximo
                  </button>
                </mat-card-actions>
              </mat-card-footer>
            </mat-card-content>
          </mat-card>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup" label="Data e hora">
        <form [formGroup]="secondFormGroup">
          <mat-card appearance="raised">
            <mat-card-content>
              <mat-card-header>
                <mat-card-title>Escolha uma data</mat-card-title>
              </mat-card-header>
            </mat-card-content>
            <mat-card-content>
              <mat-card-content>
                <mat-form-field>
                  <mat-label>Escolha uma data</mat-label>
                  <input (dateChange)="getAvailability($event)" [matDatepickerFilter]="myFilter"
                         [matDatepicker]="picker"
                         formControlName="date"
                         matInput>
                  <mat-datepicker-toggle [for]="picker" matIconSuffix></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </mat-card-content>
              <mat-card-content>
                <mat-card-subtitle *ngIf="availabilityResponse && availabilityResponse.length > 0">Escolha um horário
                </mat-card-subtitle>
                <mat-card-subtitle *ngIf="availabilityResponse && availabilityResponse.length == 0">Não há horário disponível na
                  data informada
                </mat-card-subtitle>
                <mat-chip-listbox (change)="onSelectionChange($event)" required>
                  <mat-chip-option *ngFor="let response of availabilityResponse" [value]="response.start.dateTime.value">
                    {{ response.start.dateTime.value | date: 'HH:mm' }}
                  </mat-chip-option>
                </mat-chip-listbox>
              </mat-card-content>
            </mat-card-content>
            <mat-card-content>
              <mat-card-footer>
                <mat-card-actions align="start">
                  <button (click)="onSave()" [disabled]="secondFormGroup.invalid" extended mat-fab matStepperNext>
                    <mat-icon>arrow_forward</mat-icon>
                    Próximo
                  </button>
                </mat-card-actions>
              </mat-card-footer>
            </mat-card-content>
          </mat-card>
        </form>
      </mat-step>
      <mat-step label="Concluído">
        <mat-card appearance="raised">
          <mat-card-content>
            <mat-card-header>
              <mat-card-content>
                <mat-card-title>Seu horário está agendado!</mat-card-title>
              </mat-card-content>
            </mat-card-header>
          </mat-card-content>
          <mat-card-content>
            <mat-card-header>
              <mat-card-content>
                <mat-card-subtitle>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in faucibus lectus.
                  Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Quisque varius
                  massa pulvinar porta luctus. Nunc sodales, dui tempor semper laoreet, est est ornare lacus, eu
                  ultricies purus lacus vel lectus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                  posuere cubilia curae; Donec condimentum nibh vel libero placerat ultrices. Ut vel bibendum risus, ac
                  vulputate orci. Morbi viverra ligula ut sem vestibulum, at vulputate dui porttitor. Sed posuere, dolor
                  vitae pharetra efficitur, odio eros viverra lorem, non volutpat dui libero in velit. Suspendisse
                  potenti. Nulla in felis porttitor nisi malesuada interdum. Sed fermentum pharetra sem id rutrum. Duis
                  scelerisque diam ac metus pharetra, in volutpat odio pharetra. Aenean condimentum lorem in metus
                  viverra ullamcorper.
                </mat-card-subtitle>
              </mat-card-content>
            </mat-card-header>
          </mat-card-content>
        </mat-card>
      </mat-step>
    </mat-stepper>
  </mat-card-content>
</mat-card>
